<div class="btn__container">
  <button mat-raised-button color="accent" (click)="fillWithDummyData()">
    Auto Fill
  </button>
  <button mat-raised-button color="warn" (click)="resetForm()" class="resetBtn">
    Reset
  </button>
</div>
<ng-container [formGroup]="form" class="container">
  <app-basic-info></app-basic-info>
  <app-billing></app-billing>

  <section class="checkbox">
    <mat-checkbox
      formControlName="hasShippingInformation"
      class="example-margin"
      >Equal to shipping information</mat-checkbox
    >
  </section>

  <app-shipping *ngIf="!form.value.hasShippingInformation"></app-shipping>
  <app-add-product></app-add-product>
  <app-products></app-products>
</ng-container>
<div class="btn__container">
  <button
    class="saveBtn"
    mat-raised-button
    color="primary"
    (click)="printResult()"
    [disabled]="form.invalid"
  >
    Mentés
  </button>
</div>

<!-- {{ form.value | json }} -->
